

<div class="row">
    <div class="col-md-12 p-0">
        <img src="../../../assets/images/contact.jpg" class="w-100" alt="">
    </div>
</div>

<div class="container">
    <div class="row mt-4 mb-5">
        <div class="col-md-6">
            <div class="card Regular shadow">
                <div class="card-body">
                    <h5 class="pb-2"><span class="text-primary">Contact </span>Details</h5>
                    <img src="../../../assets/images/contact-info.jpg" class="w-100">
                    <address class="mt-4 mb-4 pt-3">
                        <h6><b>Rapid Offer</b></h6>
                        SBMC.Shop.no.1046.Ongole<br>
                        Prakasam.DST<br>
                        P: +91 8106972793<br>
                        <h6><b>For More Details</b></h6>
                        info@rapidoffer.biz
                    </address>
                    <hr class="pt-3">
                    <div class="pt-3">
                        <span><i class="fa fa-facebook p-2 text-primary"></i>  </span>
                        <span><i class="fa fa-twitter p-2 text-primary"></i>  </span>
                        <span><i class="fa fa-whatsapp p-2 text-primary"></i>  </span>
                        <span><i class="fa fa-youtube p-2 text-primary"></i></span>
                        
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card Regular shadow">
                <div class="card-body">
                    <h5 class="pb-2">Our <span class="text-primary"> Location</span></h5>
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61512.74458206453!2d79.99660430077628!3d15.508804992590994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4b011c10366c03%3A0x6ee40296fd2dbcc5!2sOngole%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1581082087439!5m2!1sen!2sin" width="100%" height="232" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12"> 
                            <h5 class="pb-2 pt-2">Get In Touch</h5>                           
                            <form>
                                <div class="row">                                        
                                    <div class="col-md-12 p-0">
                                        <div class="form-group">
                                            <label for="inputSponserId" class="col-form-label">Your Name</label>
                                            <input type="text" class="form-control form-control-sm" id="inputSponserId">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmailId" class="col-form-label">Email Address</label>
                                            <input type="text" class="form-control form-control-sm" id="inputEmailId">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMobileNumber" class="col-form-label">Your Message</label>
                                            <textarea  class="form-control form-control-sm" id="inputMobileNumber"></textarea>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn bg-primary Small shadow  badge-pill pl-5 pr-5 text-white">Send > </button>
                                        </div>
                                    </div>
                                </div>
                            </form>                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
