
<div class="container">
    <div class="row pt-3 pb-3">
        <div class="col-md-6 p-5">
            <div class="row">
                <div class="col-12">
                    <div class="rounded-circle abt-circle positions-relative">
                        <a class="rounded-pill bg-white pt-2 pb-2 pl-5 pr-5 abt-btn positions-absolute"><b>Rapid <span class="text-primary">Offer</span></b></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div style="margin-top: -250px;">
                        <img src="../../../assets/images/1.jpg" class="rounded-circle" width="190" height="190" alt="">
                    </div>
                    <div style="margin-top: -281px; margin-left: -138px;">
                        <img src="../../../assets/images/1.jpg" class="rounded-circle" width="130" height="130" alt="">
                    </div>
                    <div style="margin-top: 81px; margin-left: 175px;">
                        <img src="../../../assets/images/1.jpg" class="rounded-circle" width="100" height="100" alt="">
                    </div>
                    <div style="margin-top: -35px; margin-left: -23px;">
                        <img src="../../../assets/images/1.jpg" class="rounded-circle" width="100" height="100" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-5">
            <h2 class="p-4 text-white"><b>Join our online community</b></h2>
            <p class="p-4 text-white">In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonu mmy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
    </div>
</div>

