
<div class="row">
    <div class="col-md-12 p-0 mh-50">
        <img src="../../../assets/images/about-img.jpg" class="w-100"  >
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 pt-5">
            <img src="../../../assets/images/about-img-1.jpg" class="w-100 rounded Small shadow">
        </div>
        <div class="col-md-7 p-5">
            <h2 class="text-center">Our Awesome Story</h2>
            <p>Rapid Offer signifies "series of dots", Just as including single pearls makes a pearl necklace, comparatively an individual is included here and turns into an immense gathering. When the individual joins this framework, remains associated with it until the end of time.</p>

            <p>RapidOffer.biz is your premier source for everything DP (Digital Point) related. We can help you buy DP. You can also read the latest news, or engage with the community on our Pearlvine Forum. Please keep in mind that this is a commercial website that exchanges and other DP related Transactions.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h6 class="text-primary"><b>Vision</b></h6>
            <p>To be the world's most valued company to customers, investors, business partners, and the communities where we work and live.</p>
            
        </div>
        <div class="col-md-4">
            <h6 class="text-primary"><b>Mission</b></h6>
            <p>Our mission is to fulfill the dream's of all our customers" this is our only objective.</p>
        </div>
        <div class="col-md-4">
            <h6 class="text-primary"><b>Values</b></h6>
            <p>Our Values: To respect each other’s views and feelings within the organization and with people we work.</p>
        </div>
    </div>
</div>
