<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 430px; padding: 200px;">
            <h1>This is page is under constuction</h1>
        </div>
    </div>
</div>
