<div class="row rio-bg-dark-blue text-white p-3">
    <div class="col-md-10 offset-md-1">
        <div class="row">
            <div class="col-md-4">
                <h6 class="p-2">About</h6>
                <p class="p-2">RapidOffer.biz is your premier source for everything DP (Digital Point) related. We can help you buy DP. You can also read the latest news, or engage with the community on our Pearlvine Forum. Please keep in mind that this is a commercial website that exchanges and other DP related Transactions.</p>
            </div>
            <div class="col-md-4">
                <h6 class="p-2">Our Last News</h6>
                <p class="p-2">RapidOffer.biz is your premier source for everything DP (Digital Point) related. We can help you buy DP. You can also read the latest news, or engage with the community on our Pearlvine Forum. Please keep in mind that this is a commercial website that exchanges and other DP related Transactions.</p>
            </div>
            <div class="col-md-4">
                <h6 class="p-2">ContactUs</h6>
                <p class="p-2">RapidOffer.biz is your premier source for everything DP (Digital Point) related. We can help you buy DP. You can also read the latest news, or engage with the community on our Pearlvine Forum. Please keep in mind that this is a commercial website that exchanges and other DP related Transactions.</p>
            </div>
        </div>
    </div>
</div>
<div class="row rio-sub-footer text-white p-3">
    <div class="col-md-12">
        <p class="p-2 text-center">© Copyright 2020 Rapid Offer All rights reserved.</p>
    </div>
</div>
