<div class="container">
    <div class="row alert  alert-primary mt-3 mb-3">
        <div class="col-md-12">
            <h5>Hi! Devender</h5>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4  mb-5">
            <div class="gadiant rounded p-3 text-white Small shadow">
                <i class="fa fa-user fa-3x pull-right mr-5" style="opacity: 0.7;"></i>
                <h2>21 </h2>
                <h5> <b>  Active Users In</b></h5>  
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="gadiant rounded p-3 text-white Small shadow">
                <i class="fa fa-arrow-up fa-3x pull-right mr-5" style="opacity: 0.7;"></i>
                <h2>1055</h2>
                <h5><b>level </b></h5>  
            </div>         
        </div>
        <div class="col-md-4 mb-5">
            <div class="gadiant rounded p-3 text-white Small shadow">
                <i class="fa fa-money fa-3x pull-right mr-5" style="opacity: 0.7;"></i>
                <h2>20,000</h2>
                <h5><b>Amount</b></h5>  
            </div>
        </div>
        <!-- <div class="col-md-3 mb-5">
            <div class="gadiant rounded p-3 text-white Small shadow">
                <h2>21</h2>
                <p>Active Listings</p>  <i class="fas fa-arrow-up"></i>
            </div>
        </div> -->
        
    </div>
</div>