<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">How it works</h1>
        <p  class="text-center">Explore some of the best tips from around the world.</p>
    </div>
</div>

<div class="row p-0">
    <div class="col-md-4 p-3">
        <div class="card rounded Small shadow p-3 text-center">
            <div><h1><i class="fa fa-map-o text-primary"></i></h1></div>
            <h5 class="text-secondary p-2">Find Interesting Place</h5>
            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
        </div>
    </div>
    <div class="col-md-4 p-3">
        <div class="card rounded Small shadow p-3 text-center">
            <div><h1><i class="fa fa-envelope-open-o text-primary"></i></h1></div>
            <h5 class="text-secondary p-2">Find Interesting Place</h5>
            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
        </div> 
    </div>
    <div class="col-md-4 p-3">
        <div class="card rounded Small shadow p-3 text-center">
            <div><h1><i class="fa fa-hand-peace-o text-primary"></i></h1></div>
            <h5 class="text-secondary p-2">Find Interesting Place</h5>
            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p> 
        </div>
    </div>
</div>
