<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 p-0 m-0">
            <app-slider></app-slider>        
        </div>
        
    </div>
</div>

<div class="row" style="background-color: #f7f7f7;">
    <div class="col-md-6 offset-md-3 mt-5 mb-5">
        <h3 class="text-center">Featured Categories</h3>
        <p class="text-center">Explore some of the best tips from around the city from our partners and friends.</p>
    </div>
</div>

<div class="row"  style="background-color: #f7f7f7;"> 
    <div class="col-md-12">
        <div class="container">
    
            <div class="row mb-4">
                <div class="col-md-4 pt-4 view overlay zoom">
                    <img src="../../../assets/images/products/wallet.jpg" class="w-100 rounded border Regular shadow">
                </div>
                <div class="col-md-4 pt-4">
                    <img src="../../../assets/images/products/watch.jpg" class="w-100 rounded border Regular shadow">
                </div>
                <div class="col-md-4 pt-4">
                    <img src="../../../assets/images/products/women-wallet.jpg" class="w-100 rounded border Regular shadow">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0">
                    <app-how-its-work></app-how-its-work>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid about-color">
    <div class="row about-bg">
        <div class="col-md-12 p-0">
            <app-about-community></app-about-community>
        </div>
    </div>
</div>
<div class="container">
    <div class="row about-bg">
        <div class="col-md-12 p-0">
            <app-pricing-table></app-pricing-table>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
