.user-register{
    padding: 0px;
    margin: 0px;

    ul{
        padding: 0px;
        margin: 0px;
    }
    li{
        padding: 10px 20px;
        float: left;
        list-style: none;

    }
    a{
        text-decoration: none;
        color: #4DB7FE;
        font-weight: 600;
    }
}
.dropdown:hover>.dropdown-menu{
    display: block;
}


