<div class="row rio-bg-dark-blue text-white p-3">

    <div class="col-md-1 col-xs-6 col-sm-4 bg-light rounded-pill">
        <img src="../../../assets/images/rapid-logo.png" class="w-100">
    </div>
    <!-- <div class="col-md-4 col-xs-12 col-sm-12">
        <div class="btn-group mb-2" role="group" aria-label="Button group with nested dropdown">
            
            <input type="text" class="btn btn-light" placeholder="Keywords" size="18">
            
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div> -->
    <div class="col-md-5 col-xs-12 col-sm-12 offset-md-4 mt-2">
        <nav class="navbar navbar-expand-lg navbar-dark p-0">            
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            (click)="showMenu = !showMenu"
             data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
             aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse " id="navbarSupportedContent"  [ngClass]="{'show': showMenu}">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link"  [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">About Us</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/plan']">Plan</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/bank']">Bank</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/legal']">Legal</a></li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    On Going Projects
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
               
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact Us</a></li>
               
              </ul>
              
            </div>
          </nav>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-6 ">
        <ul class="user-register">           
            <li><a [routerLink]="['login']">Login</a></li> 
            
        </ul>
    </div>
    
</div>
