
<div class="container">
    <div class="row mt-3 mb-5">
        <div class="col-md-6 offset-md-3">
           <div class="card Regular shadow">
               <div class="card-header">
                <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active pl-5 pr-5" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-5 pr-5" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Register</a>
                    </li>
                    
                  </ul>
               </div>
               <div class="card-body">
                
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <label for="inputUserId" class="col-form-label">Email</label>
                                <input type="text" class="btn btn-light form-control  text-left Small shadow border" id="inputUserId" formControlName="email">
                                <div *ngIf="loginForm.get('email').errors" class="error-color">
                                    <div *ngIf="loginForm.get('email').errors.touched" class="error-color">Enter Email</div>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-form-label">Password</label>
                                <input type="password" class="btn btn-light form-control text-left Small shadow border" id="inputPassword" formControlName="pswd" maxlength="15">
                                <div *ngIf="loginForm.get('pswd').errors" class="error-color">
                                    <div *ngIf="loginForm.get('pswd').errors.touched" class="text-danger">Enter password</div>
                                    <div *ngIf="loginForm.get('pswd').errors.pattern" class="text-danger">Enter minimum 8 digits</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a  class="btn bg-primary Small shadow  badge-pill pl-5 pr-5 text-white" (click)="loginSucess()">Login</a>
                            </div>
                            <div class="form-group pt-4">
                                <a href="#" class="text-center text-primary pt-4"> Forgot User Id / Password</a>
                            </div>
                        </form>
                    </div>


                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <form [formGroup]="registrationForm" (submit)="onRegister($event)">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputFirstName" class="col-form-label">First Name</label>
                                        <input type="text" class="btn btn-light form-control text-left Small shadow border" id="inputFirstName" formControlName="fName">
                                        <div *ngIf="registrationForm.get('fName').errors">
                                            <div *ngIf="registrationForm.get('fName').errors.pattern" class="error-color">enter alphabets only</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLastName" class="col-form-label">Last Name</label>
                                        <input type="text" class="btn btn-light form-control text-left Small shadow border" id="inputLastName" formControlName="lName">
                                        <div *ngIf="registrationForm.get('lName').errors">
                                            <div *ngIf="registrationForm.get('lName').errors.pattern" class="error-color">enter alphabets only</div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="inputEmailId" class="col-form-label">Email Id</label>
                                        <input type="email" class="btn btn-light form-control text-left Small shadow border" id="inputEmailId" formControlName="email">
                                        <div *ngIf="registrationForm.get('email').errors">
                                            <div *ngIf="registrationForm.get('email').errors.pattern" class="error-color">enter alphabets only</div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="inputMobileNumber" class="col-form-label">Mobile Number</label>
                                        <input type="text" class="btn btn-light form-control text-left Small shadow border" id="inputMobileNumber" formControlName="mobile">
                                        <div *ngIf="registrationForm.get('mobile').errors">
                                            <div *ngIf="registrationForm.get('mobile').errors.pattern" class="error-color">enter 10 digits mobile no</div>
                                        </div>
                                    </div>
                                
                                    
                                    <div class="form-group">
                                        <label for="inputCreatePassword" class="col-form-label">Create Password</label>
                                        <input type="password" class="btn btn-light form-control text-left Small shadow border" id="inputCreatePassword" formControlName="password">
                                        <div *ngIf="registrationForm.get('password').errors">
                                            <div *ngIf="registrationForm.get('password').errors.pattern" class="error-color">please enter properly</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSponserId" class="col-form-label">Sponser Id</label>
                                        <input type="text" class="btn btn-light form-control text-left Small shadow border" id="inputSponserId" formControlName="reference">
                                        <div *ngIf="registrationForm.get('reference').errors">
                                            <div *ngIf="registrationForm.get('reference').errors.pattern" class="error-color">enter Numbers only</div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn bg-primary Small shadow  badge-pill pl-5 pr-5 text-white" type="submit">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                  </div>
               
            </div>
           </div>
        </div>
    </div>
</div>
