.error-color{
    color: red;
    font-size: 15px;
  } 
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
    
  }
  select.ng-invalid.ng-touched {
    border: 1px solid red;
    
  }