<div class="row">
    <div class="col-md-4 offset-md-4 mt-5">
        <h3 class="text-center">Pricing Tables</h3>
    </div>
</div>


<div class="row mt-5 mb-5">
    <div class="col-md-4 mt-2">
        <div class="card">
            <div class="card-header bg-primary text-center">
              <button class="btn btn-outline-light rounded-pill pl-5 pr-5 align-center">Basic</button>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item ">Cras justo odio</li>
              <li class="list-group-item bg-light">Dapibus ac facilisis in</li>
              <li class="list-group-item ">Vestibulum at eros</li>
            </ul>
          </div>
    </div>
    <div class="col-md-4 mt-2">
        <div class="card" >
            <div class="card-header bg-info text-center">
                <button class="btn btn-outline-light rounded-pill pl-5 pr-5 align-center">Extended</button>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item bg-light">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
    </div>
    <div class="col-md-4 mt-2">
        <div class="card">
            <div class="card-header bg-primary text-center">
                <button class="btn btn-outline-light rounded-pill pl-5 pr-5 align-center">Professional</button>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item bg-light">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
    </div>
</div>
