<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <table class="table table-dark table-bordered">
                <thead class="table bg-primary text-center text-white">
                    <tr>
                        <th  colspan="2">
                            Bank Details
                        </th>
                    </tr>
                </thead>
              
                <tbody>
                  <tr>
                    <th scope="row">Bank Name</th>
                    <td>xyz Bank</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Account Holder Name</th>
                    <td>Raoid Offer</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">Account Number</th>
                    <td>0000 0000 0000 0000</td>
                  </tr>
                  <tr>
                    <th scope="row">IFSC Code</th>
                    <td>0000 0000 0000</td>
                  </tr>
                  <tr>
                    <th scope="row">Branch</th>
                    <td>xyz Bank, Ongole - Andhra Pradesh</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
