/* You can add global styles to this file, and also import other style files */


.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.rio-bg-dark-blue{
    background: #2F3B59;
}

.rio-footer-bg-dark{
    background: #24324F; 
}
.rio-sub-footer{
    background: rgb(28, 40, 66);;
}

.navbar-dark .navbar-nav .nav-link {
    //color: rgba(255,255,255,.5);
    color: #fff !important;
    font-weight: 100;
    border-bottom: 2px solid #2F3B59;
}
.navbar-dark .navbar-nav .nav-link:hover {
    //color: rgba(255,255,255,.5);
    //color: rgb(216, 4, 4) !important;
    border-bottom: 2px solid #4DB7FE;
}
.btn-primary{
    background: #4DB7FE !important;
}
.text-primary{
    //color: #4DB7FE !important;
    color: #fff !important;
}
.about-color{
    background-color: #4DB7FE;
}
.about-bg{
    background-image: url('assets/images/about-big.png');
    //opacity: 0.3;
    
}